body {
	max-width:900px;
	font-size:13px;
	color:#444;
	margin:0 auto;
	background:#FAF9F5;
}
.content h1 {
	line-height: 32px;
	font-size: 24px;
	background: #333;
	color: white;
	text-align:center;
	margin-left: auto;   
	margin-right: auto;
}
.content table {
	border: 1px solid #888;
	border-collapse: collapse;
	text-indent: 24px;
	text-align:left;
	margin-left: auto;   
	margin-right: auto;
}

#english {
	font-family:"微软雅黑";
	width:50%;
	border: 1px solid #888;
	border-collapse: collapse;
	padding:10px;
	vertical-align: top;
}
#chinese {
	font-family:"微软雅黑";
	width:50%;
	border: 1px solid #888;
	border-collapse: collapse;
	padding:10px;
	vertical-align: top;
}