body {
	max-width: 900px;
    font-size: 13px;
    font-family: "微软雅黑";
	background: #FAF9F5;
    margin: auto;
}
.content h1 {
	line-height: 32px;
	font-size: 24px;
	background: #333;
	color: white;
	text-align: center;
}
.content table {
	border: 1px solid #888;
    border-collapse: collapse;
	text-indent: 24px;
}

.content table td {
    vertical-align: top;
	width: 50%;
	border: 1px solid #888;
	padding: 10px;

}
