@charset "utf-8";

body {
	background: #FAF9F5;
	font-family: "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

#wrapper {
	width: 920px;
	height: 1024px;
	margin: auto;
}

#frame {
	float: left;
	width: 770px;
	height: 1024px;
	background-image: url(./frame.jpg)
}

#left {
	float: left;
	width: 75px;
	height: 1024px;
	background-image: url(./ribbon_left_large.png);	
	background-repeat: no-repeat;
}

#right {
	float: left;
	width: 75px;
	height: 1024px;
	background-image: url(./ribbon_right_large.png); 
	background-repeat: no-repeat;
}

.footer {
	max-width: 900px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.centered {
	margin: auto;
	text-align: center;
}

#nav {
	position: absolute;
	top: 99px;
	width: 770px;
	height: 77px;
	background-image: url(./ribbon_main.jpg);
}

#top {
	margin-top: 96px;
	margin-left: 170px;
}

#content {
	height: 650px;
	width: 480px;
	margin-left: 145px;
}

h1 {
	font-size: 32px;
	color: #999999;
	text-align: center;
}

h2 {
	font-size: 24px;
	color: #999999;
	text-align: center;
}


ul.navig {
	position: absolute;
	left: 176px;
	top: 5px;	
}

ul.navig li {
	display: inline;
	padding-right: 45px;
}

ul.navig li a {
	font-size: 24px;
	font-weight: 200;
	color: #666;
	text-decoration: none;
}

ul.navig li a:hover {	
	color: black;
}
  
a:link a:visited {
	color: grey;
	text-decoration: none;
}
a:hover {
	color: #FABCB4;
	text-decoration: none;
}
a:active {
	color: black;
	text-decoration: none;
}
