* {
    font-family: arial, sans-serif;
}

body {
    background-color: white;
    color: #333333;
}

#logo {
    width: 200px;
    vertical-align: middle;
}

.logo {
    margin: 2em 0 0.5em;
    font-size: 1.5em;
    color: #444444;
    height: 110px;
    line-height: 110px;
}

input {
    -moz-box-sizing: content-box;
    font-family: inherit;
}

input.text {
    background: white;
    border: 1px solid #cccccc;
    border-bottom-color: #999999;
    border-right-color: #999999;
    color: black;
    font: 18px arial, sans-serif bold;
    height: 25px;
    margin: 0;
    padding: 5px 8px 0 6px;
    vertical-align: top;
}

input.text:focus {
    outline: none;
}

input#search, input#lucky {
    background: url("../assets/button.png") repeat scroll center transparent;
    border: medium none;
    color: black;
    cursor: pointer;
    font: 20px arial, sans-serif;
    height: 28px;
    width: 150px;
    margin: 0;
    outline: 0 none;
    vertical-align: top;
}

input#search:active, input#search.active, input#lucky:active, input#lucky.active {
    background-image: none;
    background-color: #cccccc;
}

.button_wrapper {
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    display: inline-block;
    margin: 3px 0 4px 4px;
}

.button_wrapper .inner {
    background: none repeat scroll 0 0 #eeeeee;
    border-color: #cccccc #999999 #999999 #cccccc;
    border-style: solid;
    border-width: 1px;
    display: block;
    height: 30px;
}

#fake_mouse {
    position: absolute;
    top: 100px;
    left: 100px;
}

#instructions {
    display: inline-block;
    margin-top: 40px;
    min-width: 250px;
    padding: 0 2em;
    color: #999999;
    background-color: #dcefff;
    border: 1px solid #b3b7ff;
    font-size: 1.1em;
    line-height: 84px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(#ffffff, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(#ffffff, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(#ffffff, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(#ffffff, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0) 100%);
}

#link_placeholder {
    height: 90px;
}

#link {
    position: absolute;
    display: none;
    padding-bottom: 28px;
}

input.link {
    width: 400px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #c2c9ff;
    color: #555555;
    background-color: #f4fbff;
    cursor: pointer;
}


#about_this {
    margin-top: 0.5em;
    color: #666666;
    text-align: center;
}

#link_buttons, #link_message {
    position: absolute;
}

a.link_button {
    display: block;
    float: left;
    width: 60px;
    height: 20px;
    line-height: 20px;
    margin: 0 2px;
    background-color: #1532c9;
    color: white;
    text-align: center;
    font-size: 0.8em;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

a.link_button:hover, a.link_button.hover {
    background-color: #10258d;
}

#link_message {
    z-index: 99;
    width: 400px;
    height: 24px;
    line-height: 24px;
    background-color: #186700;
    color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 1em;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}
